* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  outline: none;
}

html {
  font-size: 62.5%;

  font-family: "rubik";
}

body {
  overflow-x: hidden;
  background-color: #16161a;
}

.page-format {
  width: 80%;
  margin: 1rem auto;
}
.hero-section {
  height: 100vh;
  opacity: 0;
  transition: 2.5s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d1d21;
  /* border-bottom: 2px #cfcfcf solid; */
}
.navbar img {
  padding: 1rem 0;
  width: 5rem;
}
.navbar button {
  width: 10rem;
}
.navbar button {
  height: 4rem;
  background-color: red;
}
.navbar button:hover {
  background-color: rgb(145, 0, 0);
}
.navbar ul {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  list-style: none;
}
.navbar ul li {
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  color: #ffffff;
}
.navbar ul li:hover {
  color: #a70ee9;
}
.misc-icons {
  position: absolute;
  left: 4%;
  top: 29%;
  display: grid;

  gap: 14rem;
  /* animation: float 4s infinite cubic-bezier(0.46, 0.03, 0.36, 0.98); */
}

.misc-icons img {
  height: 4rem;
}

.misc-icons2 {
  position: absolute;
  left: 12%;
  top: 41%;
  display: grid;
  /* animation: float 3s infinite cubic-bezier(0.46, 0.03, 0.36, 0.98); */
  gap: 14rem;
}

.misc-icons2 img {
  height: 4rem;
}

.main {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;

  height: 80%;
}
.main-text {
  width: 40%;
  height: 68%;
  padding-left: 2rem;
  border-left: 1px #cc36ee solid;
}

.main-text h2 {
  margin-bottom: 1rem;
  font-weight: 500;
  color: white;
}

.main-text p {
  margin-bottom: 3rem;
  color: white;
}

.main button {
  height: 4.5rem;
  width: 16rem;
  background-color: #7209b7;
  position: relative;
  color: rgb(255, 255, 255);
}

.main button:hover {
  background-color: #4c087a;
  cursor: pointer;
}

.main-image {
  height: 28rem;
  /* transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  animation: float 3s infinite alternate cubic-bezier(0.46, 0.03, 0.36, 0.98);
}
@keyframes float {
  from {
    margin-bottom: -2rem;
  }

  to {
    margin-bottom: 4rem;
  }
}
/* .main-image:hover {
  transform: scale(1.1);
} */
.main-image-box {
  position: relative;
}

.delivered {
  font-weight: 500;
  margin-top: 6rem;
}

.delivered-span {
  color: #fe6f0b;
}
h1 {
  font-size: 5.5rem;
  color: #e82c87;
  margin-bottom: 3rem;
}

.main h2 {
  font-size: 2.3rem;
}
.main p {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border: none;
  color: white;
  background-color: orangered;
  opacity: 0.8;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 1920px) {
  html {
    font-size: 75%;
  }

  button {
    font-size: 1.3rem;
  }
}

.logos {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  bottom: -7%;
  border-top: #dddddd solid 1px;
  padding-top: 1rem;
}

.tech-crunch {
  height: 2.1rem !important;
  margin-top: 1.5rem;
}
.logos img {
  height: 5.5rem;
  filter: contrast(0.3);
  opacity: 0.6;
}

/* 
*********************** */

.services {
  display: flex;
  justify-content: space-around;
}

.services-card {
  font-size: 1.5rem;
  color: white;
  height: 5rem;
  width: 5rem;
}
