* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  outline: none;
}

html {
  font-size: 62.5%;

  font-family: "rubik";
}

body {
  overflow-x: hidden;
  background-color: #16161a;
}

.page-format {
  width: 80%;
  margin: 1rem auto;
}
.hero-section {
  height: 100vh;
  opacity: 0;
  transition: 2.5s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d1d21;
  border-bottom: 2px #fe6f0b solid;
  /* border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; */
}
.navbar img {
  padding: 1rem 0;
  width: 6rem;
}
.navbar button {
  width: 10rem;
}
.navbar button {
  height: 4rem;
  background-color: red;
}
.navbar button:hover {
  background-color: rgb(145, 0, 0);
}
.navbar ul {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  list-style: none;
}
.navbar ul li {
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  color: white;
}
.navbar ul li:hover {
  color: #8a3ffc;
}

.main {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;

  height: 80%;
}
.main-text {
  width: 40%;
  height: 68%;
  padding-left: 2rem;
  border-left: 2px rgb(235, 255, 13) dashed;
}

.main-text h2 {
  margin-bottom: 1rem;
  font-weight: 500;
  color: white;
}

.main-text p {
  margin-bottom: 3rem;
  color: white;
}

.main button {
  height: 4.5rem;
  width: 16rem;
  background-color: rgb(66, 17, 150);
  position: relative;
  color: rgb(255, 255, 255);
}

.main button:hover {
  background-color: rgb(49, 14, 109);
  cursor: pointer;
}

.main-image {
  height: 35rem;
}

.main-image-box {
  position: relative;
}
.main-image-box::before {
  content: url(blob2.svg);
  position: absolute;
  left: -38%;
  top: -51%;
  opacity: 0.8;
  width: 75rem;
  z-index: -1;
}

.delivered {
  font-weight: 500;
  margin-top: 6rem;
}

.delivered-span {
  color: #fe6f0b;
}
h1 {
  font-size: 5.5rem;
  color: #47f00f;
  margin-bottom: 3rem;
}

.main h2 {
  font-size: 2.3rem;
}
.main p {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border: none;
  color: white;
  background-color: orangered;
  opacity: 0.8;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 1920px) {
  html {
    font-size: 75%;
  }

  button {
    font-size: 1.3rem;
  }
}
